# Ignored theme files
/.idea/*
*.sass-cache*
*.log

# Vendor (e.g. Composer)
# vendor
!vendor/.gitkeep

# Ignore build directory
# build
/languages/*.pot

# Node Package Manager
node_modules

# Bower Components
bower_components

# Mac
*.DS_Store
thumbs.db
.idea

